body {
  background: linear-gradient(to bottom, #fdfcfc, #f3f1f2);
}

section {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
}

.text-rose-700 {
  color: #b26b77;
}

.shadow {
  box-shadow: 0 4px 10px rgba(150, 150, 150, 0.1);
}

/* --- Анимации --- */
.hero-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}
.hero-fade.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}
.fade-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* --- Анимация мягкого появления карточек --- */
.product-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.product-card.visible {
  opacity: 1;
  transform: translateY(0);
}